body {
    background-color: #e4f1fe;
    display: flex;
    align-items: center;
    height: 100wh;
    margin: 0;
}
.form-container, .container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}