body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 1000px;
    text-align: center;
    text-decoration: none;
}
.container {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 1000px;
    text-align: center;
    text-decoration: none;
}

.form-container2 {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 1000px;
    text-align: center;
    text-decoration: none;
}

h2 {
    color: #333;
}

input[type="text"], input[type="password"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
}

button, .button {
    background-color: #2198d3;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 104%;
    text-decoration: none;
}
.btncreate {
    background-color: #832121;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 104%;
    text-decoration: none;
}
.btn1 {
    background-color: #20842d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 104%;
    text-decoration: none;
}
.btnc {
    background-color: #832121;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 300px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #832121;
}

.btnc:hover {
    background-color: #2f0707;
}

.btn1:hover {
    background-color: #0a4b13;
}

button:hover, .button:hover {
    background-color: #094381;
}

.btncreate:hover {
    background-color: #2f0707;
}